.status-bar {
    display: flex;
    justify-content: space-between;
    color: #2e363e;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
}

.mypage-profile {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #D0E450;
    margin-bottom: 20px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align: center;
}

.submitform {
    background-color: white;
}
