.category {
    height: 1000px;
}
.category__theme {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 16px;
    opacity: 60%;
    margin-bottom: 30px;
}

.category__btn {
    margin: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(200, 200, 200);
}

.list_all {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.category_all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.best_type01 {
    width: 150px;
    height: 200px;
    background-color: #D0E450;
    margin: 5px;
    border-radius: 10px;
}


.best_type {
    width: 150px;
    height: 200px;
    border: 2px solid #D0E450;
    margin: 5px;
    border-radius: 10px;
}

.list_contents {
    margin: 20px;
}

.langking01 {
    font-size: 13px;
    padding-bottom: 10px;
    opacity: 70%;
}

.list_content_name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    opacity: 80%;
}

.list_content_content {
    opacity: 70%;
    font-size: 15px;
}

