body{
    margin: 0;
}

.status-bookmark {
    margin-bottom: 70px;

}
.status-bar {
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 72px;
    top: 0;
    width: 100%;
    padding: 20px 30px;
}

.status-bar__coulumn {
    color: #D0E450;
    font-size: 21px;
    font-weight: bold;
}
.list-group a{
    color:rgb(60, 60, 60);
    font-weight: bold;
    text-decoration: none;
}
.list-group i{
    color:#D0E450;
}
.nav__form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    height: 70px;
    bottom: 0;
    width: 100%;
    background-color: #D0E450;
    padding: 20px 40px;
}
.nav-item-bar{
    justify-content: center;
    display: flex;
    padding: 10px;
}
.nav-item {
    align-items: center;
    padding: 3px;
    margin-right: 0.5px;
    cursor: pointer;
    border-bottom: 2px solid rgb(214, 207, 207);
    width: 49%;
  }
  .nav-item a{
    justify-content: center;
    display: flex;
    color: rgb(214, 207, 207);
    text-decoration: none;
  }
  .nav-item.active {
    border-bottom: 3px solid #D0E450;
  }
  .nav-item.active a{
    justify-content: center;
    display: flex;
    color: #D0E450;
  }
