*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f6;
}

.search_box {
    width: auto;
    height: auto;
    margin: 30px;
    border: 4px solid #D0E450;
    display: flex;
    justify-content: center;
  }
  
  .search_box input {
    flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
  }
  .search_box button {
    flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #ffffff;
  }

.box
{
    width: 600px;
    border-bottom: 20px solid #D0E450;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2
{
    color : #fff;
    background:#D0E450;
    padding:10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ul
{
    position:relative;
    background: #fff;
}

.box ul li
{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.box ul li:hover
{
    z-index: 100;
    background: #D0E450;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color:#fff;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  .btn__link {
    margin: 20px;
  }
  
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D0E450;
    padding: 20px 50px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
